body {
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 1200px;
    border: 1px solid #000;
    font: 16px Arial, sans-serif;

}

header, nav, footer {
    border: 1px solid #000;
    margin: 10px;
    padding: 20px;
}

main {
    width: 66.66%;
    padding: 20px;
    margin: 10px;
}
  
aside {
    width: 33.33%;
    float: right;
    padding: 20px;
    margin: 10px;
}

header {
    background-color: #f0f0f0;
}
  
header h1 {
    display: inline-block;
    margin-right: 20px;
}
  
header img {
    height: 50px;
    width: 50px;
}

nav {
    text-align: right;
}
  
nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease;
}
  
nav a:hover {
    background-color: #000;
    color: #fff;
}

aside h2 {
    font-size: 24px;
    color: #000;
}
  
aside ul {
    list-style-type: none;
    line-height: 2;
}

main h2 {
    font-size: 24px;
    color: #000;
}
  
main p {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
}
  
main figure {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}
  
main img, main iframe {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #f0f0f0;
}
  
footer p {
    font-size: 14px;
    text-align: center;
}
  